<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit employees</title>
</head>
<body style="text-align: center;">
<h3>Edit employees</h3>
<p>
    <a th:href="@{/employees}">Back to Notes list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/edit-employees}" th:object="${employees}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table align="center">

        <tr>
            <td style="text-align: left">Department</td>
            <td><label>
                <input type="text" style="width: 300px; padding: 5px;" th:field="*{department}"/>
            </label></td>
        </tr>
        <tr>
            <td style="text-align: left">Name</td>
            <td><label>
                <input type="text" style="width: 300px; padding: 5px;" th:field="*{name}"/>
            </label></td>
        </tr>
        <tr>
            <td style="text-align: left">Planet</td>
            <td><label>
                <a><input type="radio" style="width: 50px; padding: 5px;" th:field="*{planet}" value="Nam"/>Nam</a>
                <a><input type="radio" style="width: 50px; padding: 5px;" th:field="*{planet}" value="Nu"/>Nu</a>
            </label></td>
        </tr>
        <tr>
            <td style="text-align: left">Phone number</td>
            <td><label>
                <input type="text" style="width: 300px; padding: 5px;" th:field="*{phonenumber}"/>
            </label></td>
        </tr>
        <tr>
            <td style="text-align: left">So CMND</td>
            <td><label>
                <input type="text" style="width: 300px; padding: 5px;" th:field="*{cmnd}"/>
            </label></td>
        </tr>
        <tr>
            <td style="text-align: left">Ma nhan vien</td>
            <td><label>
                <input type="text" style="width: 300px; padding: 5px;" th:field="*{manhanvien}"/>
            </label></td>
        </tr>
        <tr>
            <td style="text-align: left">Address</td>
            <td><label>
                <input type="text" style="width: 300px; padding: 5px;" th:field="*{address}"/>
            </label></td>
        </tr>
        <tr>
            <td style="text-align: left">Email</td>
            <td><label>
                <input type="text" style="width: 300px; padding: 5px;" th:field="*{email}"/>
            </label></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update note"></td>
        </tr>
    </table>
</form>
</body>
</html>